div.wrap h1 {
    font-size: 60px;
    margin: 0px;
    padding: 0px;
}

div.wrap h3 {
    margin: 0px;
    padding: 0px;
    color: #30a5ff;
}

div.wrap {
    width: 500px;
    // min-height: 120px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div.wrap div {
    position: relative;
    margin: 40px 0;
}

div.wrap label {
    position: absolute;
    top: 0;
    font-size: 20px;
    margin: 10px;
    padding: 0 10px;
    background-color: white;
    -webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
    transition: top .2s ease-in-out, font-size .2s ease-in-out;
}

div.wrap label.label-active {
    top: -25px;
    font-size: 15px;
}

div.wrap input[type=text],
div.wrap input[type=password] {
    position: static;
    float: none;
    width: 100%;
    padding: 30px;
    font-size: 15px;
    background-color: white;
}

div.wrap input[type=text]:focus,
div.wrap input[type=password]:focus {
    outline: none;
}