a {
    text-decoration: none !important;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

label,
.star-item {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}


/* width */

::-webkit-scrollbar {
    width: 10px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #c5c5c5;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: rgb(146, 146, 146);
}

body {
    font-family: "Montserrat", sans-serif;
}

.nav-bar {
    border-bottom: 1px solid #e8e8e8;
    height: 55px;
    min-width: 100%;
}

.logo-site {
    float: left;
    padding: 16px;
}

.menu-right {
    float: right;
}

.search-numbers {
    color: white;
    padding-bottom: 10px;
}

.menu-list>li {
    float: left;
    margin-right: 20px;
    list-style: none;
    font-size: 13px;
    text-transform: uppercase;
    padding: 17px;
}

.mobile-menu {
    padding: 15px;
    color: #929292;
    display: none;
}

.mobile-menu:hover {
    cursor: pointer;
}

.mobile-menu-list {
    width: 100%;
    position: absolute;
    background-color: white;
    z-index: 99999;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}

.mobile-menu-item {
    padding: 8px 10px;
    font-size: 14px;
}

.mobile-menu-item>a {
    color: #929292;
    font-weight: bold;
}

.mobile-menu-item>a:hover {
    color: black !important;
}

.menu-active {
    color: black !important;
}

.menu-list>li>a {
    text-decoration: none;
    color: #929292;
    font-weight: bold;
}

.menu-list>li>a:hover {
    color: black;
}

.main-search {
    width: 100%;
    padding: 30px 0px;
    background-color: #006d9f;
}

.main-search-center {
    padding: 0px 20px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.main-search-center>h2 {
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

#search-url {
    width: 90%;
}

.login-user-input {
    width: 100%;
    margin-top: 20px;
}

.login-user-input>button {
    width: 300px;
}

.main-search-url,
.main-search-upload {
    color: white;
    float: left;
}

.main-search-upload {
    margin-left: 20px;
}

.main-search-select {
    padding-bottom: 40px;
    margin: auto;
    width: fit-content;
}

.img-idol {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: #e8e8e8;
}

.img-idol>img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

input[type="text"],
input[type="password"] {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
    font-size: 13px;
}

textarea {
    background: #f5f5f5;
    border: none;
    width: 100%;
    height: 110px;
    padding-left: 20px;
    padding-top: 10px;
    padding-right: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
    font-size: 13px;
}

textarea:focus {
    outline: none;
}

.upload-image {
    font-size: 13px;
    border-radius: 0;
    font-weight: 500;
    height: 50px;
    width: 90%;
    background: #f5f5f5;
    border: none;
    padding: 13px;
    color: #555;
    text-align: left;
    margin: 0px auto 24px;
}

input[type="text"]:focus {
    border: 1px solid #d8d8d8;
    outline: none !important;
}

button {
    outline: none !important;
}

.image-bg input[type="text"],
.image-bg textarea {
    color: #555;
}


/* input[type="text"],
button,
textarea,
select,
input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
} */

.filter-style {
    padding: 6px;
    width: 100%;
    background-color: whitesmoke;
}

.pd-6 {
    padding: 6px;
}

.btn-search {
    border: 2px solid #d8d8d8;
    padding: 0 26px;
    height: 40px;
    min-width: 150px;
    line-height: 36px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 0;
    color: #13181d;
    text-align: center;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    margin-right: 8px;
    margin-bottom: 24px;
}

.btn-search:hover {
    cursor: pointer;
}

#url-select:hover,
#upload-select:hover {
    cursor: pointer;
}

label:hover {
    cursor: pointer;
}

.card {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-container {
    padding: 10px 16px;
}

.card-image {
    height: 300px;
    width: 100%;
}

.card-image>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card-container>h4 {
    font-size: 15px;
}

.text-center {
    text-align: center;
    width: 100%;
}

.pd-10 {
    padding: 10px;
}

#myProgress {
    width: 100%;
    background-color: #ddd;
    font-size: 11px;
}

.information-idol {
    padding: 10px;
    color: #434343;
    background-color: #f2f2f2;
    margin-top: 20px;
}

.img-idol-item {
    height: 150px;
    width: 150px;
    float: left;
    padding-right: 10px;
    margin-top: 10px;
}

.img-idol-item>.loading-image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}

.loading-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer; 
    animation: hintloading 1s ease-in-out 0s infinite reverse;
    -webkit-animation: hintloading 1s ease-in-out 0s infinite reverse;  
}

@keyframes hintloading
{
  0% {
    background-color: #eee;
  }
  50%  {
    background-color: white;
  }
  100% {
    background-color: #eee;
  }
}

@-webkit-keyframes hintloading
{
  0% {
    background-color: #eee;
  }
  50%  {
    background-color: white;
  }
  100% {
    background-color: #eee;
  }
}

.file-upload-button > input{
    display: none;
}

.add-file-icon{
    color: #62beff;
    border: 1px solid #62beff;
    padding: 2px 8px;
}

.thumbnail {
    width: 100%;
    height: fit-content;
    margin-top: 20px;
}

.thumbnail>img {
    width: 100%;
    object-fit: cover;
}

.lb-close {
    display: none !important;
}

#myBar {
    width: 10%;
    height: 15px;
    /* background-color: #4CAF50; */
    text-align: center;
    line-height: 15px;
    color: white;
    -webkit-animation-duration: 3.25s;
    animation-duration: 3.25s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: placeHolderShimmer;
    animation-name: placeHolderShimmer;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    background: linear-gradient(to right, #3ac118 8%, #7fcc71 18%, #2cb709 33%);
    /* padding: 0px 5px; */
}

.share-notification {
    padding: 10px;
    border: 1px solid #eeeeee;
    background-color: #f2f2f2;
    color: #4d4d4d;
    font-weight: bold;
    font-size: 14px;
}

.mobile-active {
    display: block !important;
    border-bottom: 1px solid #e8e8e8;
}

.share-idols {
    min-width: 150px;
    max-width: 600px;
    margin: auto;
}

.centered-absolute {
    position: absolute;
    left: calc(50vw - (/* width */
    140px / 2));
}


/* BACKGROUND STAR CANVAS */

body {
    margin: 0;
}

canvas {
    display: block;
    /* vertical-align: bottom; */
}


/* ---- particles.js container ---- */

#background-search {
    position: absolute;
    width: 100%;
    height: 650px;
    background-color: #175bd9;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}


/* ---- stats.js ---- */

.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.hot-card-header {
    width: 100%;
}

.hot-card-header>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hot-list {
    background-color: white;
    border: 1px solid #f4f4f4;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.hot-list:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

.hot-card-footer {
    padding: 10px 5px;
    text-align: center;
}

i.fa-star:hover {
    cursor: pointer;
}

.main-user {
    width: 100%;
    height: 560px;
    color: white;
}

.card-container>h4 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 1.2em;
    white-space: nowrap;
}

.hot-card-footer {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    height: 1.2cm;
    white-space: nowrap;
}

@-webkit-keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}

@media screen and (max-width: 750px) {
    ul,
    .menu-list {
        display: none;
    }
    .mobile-menu {
        display: block;
    }
}

@media screen and (min-width: 750px) {
    .mobile-menu-list {
        display: none !important;
    }
}

@media screen and (max-width: 1200px) {
    .card-image {
        height: 250px;
    }
}

@media screen and (max-width: 380px) {
    .main-search-url,
    .main-search-upload {
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .main-search-upload {
        padding-bottom: 10px;
    }
    #background-search {
        height: 680px;
    }
}

.author-image{
    border: 1px solid #d0d0d0;
    display: flow-root;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
    margin-top: 12px;
}

.author-name{
    position: absolute;
    top: -15px;
    padding: 3px;
    font-size: 13px;
    background-color: white;
    border: 1px solid #d0d0d0;
}

.file-counter{
    width: fit-content;
    float: right;
    padding: 2px 10px;
    border: 1px solid #62beff;
    color: #62beff;
    font-weight: bold;
    min-width: 106px;
    text-align: center;
}

.custom-upload{
    border: 2px solid #d8d8d8;
    font-weight: bold;
    margin-left: 5px;
}

.image-wrap{
    width: 100%;
    display: inline-block;
}

.item-image-auto{
    background-color: #ddd;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    position: relative;
}

.item-image-auto > a > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-image-name {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
    background-color: #00000080;
    color: white;
    font-weight: bold;
}

.item-image-auto:hover .item-image-name{
    display: block !important;
}

.idol-list-row{
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    display: flex;
}

.image-auto-load-size > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-idol-content{
    padding: 10px;
}

.image-idol-content > span{
    font-size: 18px;
    font-weight: bold;
    color: #007be6;
}

.image-idol-content > p{
    font-size: 12px;
    color: #337ab7;
    margin: 0 0 0px !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 0px !important; 
    border-bottom-left-radius: 0px !important;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.page-item > a{
    margin-left: 5px !important;
}

.page-item > span{
    margin-left: 5px !important;
}

.user-list-item{
    position: relative;
    min-width: 110px;
}

.user-list-item:hover{
    cursor: pointer;
}

.sub-menu-user{
    padding: 10px 9px;
    position: absolute;
    width: 100%;
    min-width: 150px;
    top: 25px;
    background-color: white;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
    left: -9px;
    z-index: 100;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1000; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
}

.user-information{
    border-bottom: 1px solid #eee;
    font-size: 18px;
}

.notify-wrap{
    width: 300px;
    height: 250px;
    overflow-y: auto;
}

.notify-item{
    padding: 10px;
    font-size: 13px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.26);
}
  