.tab {
    display: none;
    opacity: 0;
    transition: all 0.2s ease;
}

.tab-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
    padding-bottom: 10px;
}

.tab-nav a {
    color: #9B9B9B;
    text-decoration: none;
    width: 100%;
}

.tab-nav a:hover,
.tab-nav a:focus {
    color: #952dae;
}

.tab-nav__item::after {
    position: relative;
    top: 5px;
    display: inline-block;
    height: 24px;
    margin: 0 1em;
    border: 1px solid #9B9B9B;
    content: ' ';
}

.tab-nav__item:last-child::after {
    border: none;
    margin: 0;
}

.bottom-border {
    position: absolute;
    color: #952dae;
    transition: all 0.1s ease;
}

.bottom-border::before {
    display: block;
    position: absolute;
    bottom: -10px;
    height: 4px;
    background: #952dae;
    width: 100%;
    content: ' ';
}

.bottom-border::after {
    position: absolute;
    bottom: -15px;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #952dae;
    content: ' ';
}

.tab-nav__item.active {
    font-weight: 800;
}

.tab-nav__item.active a {
    color: #952dae;
}

.tab.active {
    opacity: 1;
    display: block;
}